@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: hotpink;
}

h1 {
    color:#050300;
    text-align: center;
    font-size: 36pt;
    
}



/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    margin:10px;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;

}

header h1 {
    position: absolute;
    width: 100%;
    color: black;

}

.gluten { 
    font-weight: bold;
}

.lactose {
    font-weight:bold
}

img {
    border: 1px solid #eee;
    border-radius: 3px;
}

#info{
    margin: 10px;
    padding: 30px;
    border: 5px dotted #050300;
}

#burgers {
    margin: 10px;
    padding: 30px;
    background-color:black;
    color:#eee;
    border: 5px solid hotpink;
}


button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: pink;
}

button:hover {
    background-color: pink;
    color:hotpink;
    outline: 3px solid hotpink; /* Lägg till en rosa kant */
    outline-offset: 1px;
    cursor: pointer;
}

.burger-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;

}

.burger-item{
    margin: 10px; /* Utrymme mellan varje div */
    padding: 10px; /* Inre utrymme för varje div */
    border: 1px solid #f76acd; /* lägg till en tunn kant */
    border-radius: 5px; /* Gör kanterna lite rundade */
}

.burger-item img {
    display: block; /* Ta bort inline-egenskaper */
    margin: 0 auto; /* Centrerar bilden */
    max-width: 100%; /* Gör bilden responsiv */
    height: auto; /* Bevarar proportioner */
}


